/* subnet_form.html */
{% extends 'bootstrap/base.html' %}
{% block content %}
<div class="container mt-5">
  <h2>{% if subnet %}Editar Subnet{% else %}Nova Subnet{% endif %}</h2>
  <form method="POST">
    <div class="form-group">
      <label for="subnet">Subnet</label>
      <input type="text" class="form-control" name="subnet" required value="{{ subnet.subnet if subnet }}">
    </div>
    <div class="form-group">
      <label for="description">Descrição</label>
      <input type="text" class="form-control" name="description" required value="{{ subnet.description if subnet }}">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Salvar</button>
  </form>
</div>
{% endblock %}